body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("media/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: fadeIn 1s linear;
}

#content {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.585);
    height: 8vh;
    padding-bottom: .1em;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 0 .5em 0 .5em;
}

.nav-list li {
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    list-style-type: none;
    text-shadow: rgba(0, 0, 0, 0.623) 0 2px 2px;
    transition: .2s ease-in-out;
    font-weight: bold;
    padding: .2em;
}

.nav-list li:hover {
    border-bottom: white 2px solid;
    padding-bottom: .3em;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.585);
    box-shadow: rgba(0, 0, 0, 0.871) 0 0 4px;
    padding: 1em;
    margin-bottom: 3em;
    border-radius: 8px;
}

.text-container .title {
    font-family: Italian;
    color: rgb(204, 171, 61);
    font-size: 8em;
    font-style: italic;
    text-shadow: rgb(0, 0, 0) 0 0 10px;
    letter-spacing: -.01em;
    margin: 0 0 -.35em 0;
}

.sub-title {
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 10px;
    font-weight: bold;
    font-size: 4em;
    margin: 0;
    font-style: italic;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5em;
}

.img-container img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.946);
    opacity: 90%;
    border-radius: 50%;
    height: 30em;
}

.img-container .img-caption {
    color: rgba(255, 255, 255, 0.743);
    margin: .3em 0 0 0;
    font-size: 1.4em;
    letter-spacing: .12em;
}

.menu-title {
    color: white;
    font-size: 2.6em;
    font-weight: bold;
    text-align: center;
    margin: .8em .5em .5em .5em;
    text-decoration: underline;
}

.menu-items {
    border-bottom: white solid 2px;
    padding-bottom: .5em;
    border-radius: 8px;
}

.food-items {
    display: flex;
    align-items: center;
    gap: 3em;
}

.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
}

.food-cap {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.929) 0 0 4px;
    margin: .5em;
    text-align: center;
}

.food img {
    height: 8em;
}

@media (max-width: 600px) {
    header {
        height: 5vh;
        padding-bottom: .2em;
    }
    .nav-list li, .food-cap {
        font-size: 1em;
    }
    .nav-list {
        gap: 2em;
    }
    main {
        margin-top: -5em;
    }
    .text-container .title {
        font-size: 5em;
    }
    .text-container .sub-title {
        font-size: 2.5em;
    }
    .info {
        transform: scale(.9);
    }
    .img-container img {
        margin-top: 0;
        height: 25em;
    }
    .menu-title {
        font-size: 2em;
    }
    .food-items {
        gap: .5em;
        flex-flow: column;
    }
    .food {
        width: 11em;
    }
    .food img {
        height: 6em;
        padding-bottom: .2em;
        border-bottom: solid white 2px;
    }
}

@font-face {
    font-family: Italian;
    src: url(media/italian.ttf);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}